 body {
     font-family: 'Raleway', sans-serif;
     background-color: #e0e0e0;
 }

.navigation-sticky{
    position:fixed;
    z-index:10;
    width:100%;
}

 .nav-flex {
     display: flex;
     width: 100%;
     background: darkslategray;
     align-items: center;
 }

 .thermo, .fa-ellipsis-v {
     color: #fff;
 }

 .fa-hamburger {
     color: #fff;
     padding: 0 15px;
     display: inline-block;
 }

 .rotate{
    -moz-transition: all 0.9s linear;
    -webkit-transition: all 0.9s linear;
    transition: all 0.9s linear;
}

.rotate.down{
    -moz-transform:rotate(180deg);
    -webkit-transform:rotate(180deg);
    transform:rotate(180deg);
}

 /* .nav-wrapper {
     justify-content: center;
     margin: 20px;
     padding: 10px;
 } */

 #search {
     background-color: darkslategray;
     line-height: 2;
     padding:0 8px;
 }

 #search-button {
     cursor: pointer;
     background: none;
     border: none;
 }

 .search-bar {
     width: 100%;
 }

 #search-button:hover {
     cursor: pointer;
 }

 .fa-search {
     color: #fff;
 }

 .city {
     color: #fff;
 }

 .temp {
     color: #fff;
 }

 .card {
     margin: 10px;
     padding: 15px 20px;
     margin-bottom: 20px;
 }

 .weather-flex {
     display: flex;
     align-items: center;
     font-size: 24px;
     font-family: 'Poppins', sans-serif;
     font-weight: bolder;
     float: right;
 }

 .weather-flex>div {}

 .more-weather {
     padding: 0 15px;
 }

 .card-title {
     color: white;
     padding: 10px;
 }

 .title {
    font-weight: bold;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    color: darkslategray;
 }

 .title-section {
    font-weight: bold;
    font-size: 25px;
    font-family: 'Poppins', sans-serif;
    color: #7d1907;
 }

 .title-site {
    font-weight: bold;
    font-size: 45px;
    font-family: 'Poppins', sans-serif;
    color: #e1ad01;
    text-align:center;
 }
 .card-address {
    color: #616161;
 }

 .card-address a {
    color: #616161 !important;
 }

 .card div a{
     color: #212121;
 }

 .fa-star {
    color: #e1ad01;
 }

 .fa-mobile-alt {
    color: #7d1907;
 }

 .fa-yelp {
    color: #d32323;
 }

 .fa-ticket-alt{
    color:#7d1907;
 }
.fa-dollar-sign, .fa-long-arrow-alt-down, .fa-long-arrow-alt-up {
    color:#e1ad01;
}
 .input-field {
     font-size: 20px;
     display: flex;
     align-items: center;
 }

 #weather-box {
     background-color: #e1ad01;
     border-radius: 5px;
     display: flex;
     align-items: center;
     margin: auto;
     padding: 10px;
     width: 40%;
 }

 input:not([type]), input[type=text]:not(.browser-default), input[type=password]:not(.browser-default), input[type=email]:not(.browser-default), input[type=url]:not(.browser-default), input[type=time]:not(.browser-default), input[type=date]:not(.browser-default), input[type=datetime]:not(.browser-default), input[type=datetime-local]:not(.browser-default), input[type=tel]:not(.browser-default), input[type=number]:not(.browser-default), input[type=search]:not(.browser-default), textarea.materialize-textarea {
     margin: auto;
     font-size: 20px;
     color: #fff;
 }

 .input-field input[type=search]:focus:not(.browser-default) {
     color: #fff;
 }

 .preference-menu {
     display: none;
     background: #fff;
     position: absolute;
     -webkit-box-shadow: 0px 2px 5px 0px rgba(66, 66, 66, 0.5);
     -moz-box-shadow: 0px 2px 5px 0px rgba(66, 66, 66, 0.5);
     box-shadow: 0px 2px 5px 0px rgba(66, 66, 66, 0.5);
 }

 .weather-more-box {
     width: 100%;
     position: absolute;
     display: none;
 }

 .weather-menu {
     float: right;
     -webkit-box-shadow: 0px 2px 5px 0px rgba(66, 66, 66, 0.5);
     -moz-box-shadow: 0px 2px 5px 0px rgba(66, 66, 66, 0.5);
     box-shadow: 0px 2px 5px 0px rgba(66, 66, 66, 0.5);
     color: #616161;
     background: #fff;
 }

 .weather-menu-title {
     color: #212121;
 }

 hr {
     width: 91%;
     border-bottom: none;
     border-color: #212121;
 }

 .menus-more {
     display: flex;
 }

 .pref-item {
     padding: 10px 25px;
 }

 .label {
    color: #212121 !important;
 }

 [type="checkbox"]:checked+span:not(.lever):before {
     border-right: 2px solid #7d1907;
     border-bottom: 2px solid #7d1907;
 }

 .content-flex {
     display: flex;
     width: 75%;
     margin: auto;
 }
.content-pad{
    padding-top:100px;
}
 
 /*
 #26a69a
#7d1907 
*/